@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c1bebec4;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.image{
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgb(231, 97, 97);
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
}

.card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-data .name{
    font-size: 22px;
    font-weight: 500;
}

.text-data .job{
    font-size: 15px;
    font-weight: 400;
}

.card .media-buttons{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-buttons .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin: 0 8px;
    background-color: rgb(250, 38, 38);
    text-decoration: none;

}
.card .buttons{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.buttons .button{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 24px;
    margin: 0 10px;
    padding: 8px 24px;
    background-color: #ff1605;
    cursor: pointer;
    transition: all;
}

.buttons .button:hover{
    background-color: #ed4a4a;
}